/** General CSS Start **/


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #20527f;
  background-color: #fff;
}

body .container {
	width:1200px;
	margin:0 auto;
	padding:0px;
	/*border: solid 1px #00f;*/
	padding:0px;

}

a:link {
	color:#777;
	text-decoration: none;
}      
a:visited {
	color:#777;
	text-decoration: none;
}  
a:hover {
	color:#777;
	text-decoration: none;
}  
a:active {
	color:#777;
	text-decoration: none;
} 

/* Link White */
a.link_white:link, a.link_white:visited, a.link_white:hover, a.link_white:active  {
	color:#fff;
	text-decoration: none;
}      



a.view_detail:link {
	color:#b50000;
	text-decoration: none;
}      
a.view_detail:visited {
	color:#b50000;
	text-decoration: none;
}  
a.view_detail:hover {
	color:#b50000;
	text-decoration: none;
}  
a.view_detail:active {
	color:#b50000;
	text-decoration: none;
} 

a.btn-view-all:link {
	background: #193056;
	color:#ffffff;
	padding: 3px 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	text-decoration: none;
}      
a.btn-view-all:visited, a.btn-view-all:hover, a.btn-view-all:active {
	color:#ffffff;
	text-decoration: none;
}  

.marginBottom10{
	margin-bottom: 10px;
}

.paddingLeft5{
	padding-left:5px;
}

.paddingRight5{
	padding-right:5px;
}

.marginRight5{
	margin-right:5px;
}

.marginLeft5{
	margin-left:5px;
}

.marginTop4{
	margin-top:4px;
}

span.glyphiconThin {
    font-size: 10px;
}

span.glyphiconMedium {
    font-size: 12px;
}

h1, h2, h3, h4{outline:none;}
.ui-state-focus { outline: none; }

.hidden{
	display: none;
}

/* reset focust */
*:focus { 
	outline: none; 
}
*::-moz-focus-inner { 
	border: none; 
}

a:focus { 
	outline: none; 
}

.displayBlock{
	display: block;
}
.paddingRight5{
	padding-right: 5px;
}
/** General CSS End **/



/*.header_box, .main_menu_box, .slider_box, .content_box, .social_box, .footer_box{
	width: 1300px;
}*/

.header_box{
	height: 150px;
	background-image:url('../frontend/images/bg_header_box.png');
}

.content_width{
	width: 1024px;
	margin: 0 auto;
	padding: 0px;
}

.logo_left{
	padding-top: 7px;
	width: 135px;
	display: inline-block;
}


.company_info{
	width: 300px;
	display: inline-block;
	float: right;
	text-align: right;
	margin: 20px 0px 0px 0px;
}

.company_name{
	font-size: 24px;
	font-weight: 700;
}

.company_slogan{
	font-size: 16px;
	font-weight: 700;
}

.contact_chanel{
	font-size: 14px;
	color: #b40000;
	font-weight: 700;
}

.language{
	width: 50px;
	height: 12px;
	margin:10px 0px 0px 0px;
	float: right;
	border: 0px solid #00f;
}

.language img.flag{
	width: 18px;
	height: 12px;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	margin-left: 3px;
}

.main_menu_box{
	background-color: #dbedfb;
	height: 40px;
}

/* base nav styles */
nav#topNav { 
	display: block;
	/*width: 1000px;*/
	/*margin: 0 auto;*/
	/*border: 1px solid #222;*/
	position: relative;
	font-size: 15px;
	font-weight: bold;
	padding-left: 67px;
}
nav#topNav ul { 
	padding:0; 
	margin:0; 
}
nav#topNav li { 
	position:relative; 
	float:left; 
	list-style-type:none; 
}
nav#topNav ul:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
}
nav#topNav li a { 
	display:block; 
	padding:10px 20px; 
	color:#000; 
	text-decoration:none; 
}
nav#topNav li a:focus { 
	outline:none; 
	text-decoration:underline;
	color: #f13f43;
}
nav#topNav li a:hover { 
	color: #f13f43;
}
nav#topNav li:first-child a {
 border-left:none; 
}
nav#topNav li.last a { 
	border-right:none; 
}
nav#topNav a span { 
	display:block; 
	float:right; 
	margin-left:5px; 
}
nav#topNav ul ul { 
	position: relative;
	z-index: 1;
	width: 220px;
	display:none; 
	position:absolute; 
	left:18px; 
	top: 40px;
}
nav#topNav ul ul li { 
	float:none;	
	color:#fff; 
	background-color: #000;
}
nav#topNav ul ul a { 
	padding:5px 10px; 
	border-left:none; 
	border-right:none; 
	font-size:14px; 
	font-weight: normal;
	color: #fff;
}
nav#topNav ul ul a:hover { 
}

.topNav_active{
	color: #f13f43;
}

nav#topNav li a.topNav_active { 
	color: #f13f43;
}

/*********/

.slider_box{
	height: 501px;
	display: block;
	background-image:url('../frontend/images/bg_slider_box.jpg');
}

/* Gallery Slider Start */
.slide{
	position: relative;
	z-index: 0;
	width: 1024px;
	height: 500px;
	margin: 0 auto;
	border-top:1px solid #6f8ea1;
}


.carousel-indicators {
  bottom:0px;
}

.carousel-indicators li {
  border-color:#999;
  background-color:#ccc;
}

/*.carousel-indicators{
	bottom: 5px;
	left: 960px;
}*/

/* Gallery Slider End */


.content_box{
	/*width:1400px;*/
	background: #dbedfa;
}
.content{
	padding: 0px 0px 10px 0px;
	float: left;
	width: 670px;
	margin:20px 0px 0px 0px;
	display: inline-block;
}

.what_we_do img{
	padding: 0px 0px 5px 0px;
}
.main_topic{
	font-size: 16px;
	font-weight: 700;
	padding:10px 0px;
}

.main_activity_topic{
	font-size: 18px;
	font-weight: 700;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 10px 0px;
}

.thumb_topic{
	font-size: 14px;
	font-weight: 700;
	padding:10px 0px;
}

.recent_project_box{
	float: left;
}

.recent_project_slide{
	float: left;
	height: 320px;
}

/* project Gallery */
div.project_thumb {
	width: 320px;
	float: left;
	text-align: center;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}

div.project_thumb:nth-child(even) { 
	margin-left: 25px;
}

div.project_thumb img {
	margin-bottom: 10px;
}

.item_topic_recent_project {
	display: block;
	/* float: left; */
	color: #20527f;
	margin: 0px;
	padding: 2px 0px;
	font-size: 16px;
	font-weight: bold;
	/* float: left; */
	text-align: left;
}

.bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	 -webkit-box-shadow: none; 
	 box-shadow: none; 
	 border: none; 
	 left: 0px; 
	 background: none; 
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

/* Prev / Next */
.bx-wrapper .bx-controls-direction a {
	top: 120px;
/*
	position: absolute;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;*/
}

.bx-wrapper .bx-prev {
	left: 1px;
	/*background: url(images/controls.png) no-repeat 0 -32px;*/
}

.bx-wrapper .bx-next {
	right: 1px;
	/*background: url(images/controls.png) no-repeat -43px -32px;*/
}


div.product_thumb img {
    display: inline;
}

div.product_thumb a:hover img {
}

div.product_name {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 3px 5px;
}

div.project_desc {
    text-align: left;
    font-weight: normal;
    padding: 5px 0px 3px 0px;
}


.social_button_box{
	height: 40px;
}

.social_button_box{
	display: inline-block;
	padding: 0px;
	margin: 0xp;
}

.social_button{
	width: 40px;
	height: 40px;
	display: inline-block;
}
div.facebook_button{
	background-image:url('../frontend/images/social-btn.png');
	background-position: -2px -2px;
}
div.twitter_button{
	background-image:url('../frontend/images/social-btn.png');
	background-position: -47px -2px
}
div.instragram_button{
	background-image:url('../frontend/images/social-btn.png');
	background-position: -92px -2px
}
div.youtube_button{
	background-image:url('../frontend/images/social-btn.png');
	background-position: -138px -2px
}
div.skype_button{
	background-image:url('../frontend/images/social-btn.png');
	background-position: -184px -2px
}

/** Start Side Bar **/
.side_bar{
	float: left;
	width: 333px;
	margin: 20px 0px 0px 20px;
}

.box_link{
	margin: 10px 0px 20px 0px;
}
.underline_topic{
	border-bottom: 1px solid #b4cbdb;
}

.recentItem{
	display: inline-table;
	padding: 0px 0px 10px 0px;
	width: 333px;
}
.margin10{
	margin-bottom:10px; 
	margin-right:10px;
}
.recentItem img{
	padding:0px 7px 10px 0px;
	width: 128px;
	height: auto;
}
.item_topic_activity{
	color: #20527f;
	margin: 0px;
	padding: 2px 0px;
	font-size: 16px;
	font-weight: bold;
	/*float: left;*/
}


/** Start Footer **/
.footer_box{
	/*width:1400px;*/
	height: 120px;
	background: #103e6c;
	/*border:1px solid #00f;*/
}

.link_banner{
	margin:0px 0px 5px 0px;
}

.footer{
	border:1px solid #f00;
	color: #fff;
}
.footer_left{
	width: 512px;
	display: inline-block;
	text-align: left;
	float: left;
	margin-top: 20px;
	/*border: 1px solid #0f0;*/
}
.footer_right{
	width: 510px;
	float: left;
	margin-top: 20px;
	text-align: right;
	/*border: 1px solid #00f;*/
}

/* Contact Us Page */

.contactus_slider_box{
	height: 501px;
	display: block;
	background:#657781;
}
.bg_contactus{
	height: 500px;
	display: block;
	background-image:url('../frontend/images/bg_contact_us.jpg');
}

.bg_contactus .msg{
	height: 40px;
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-top: 200px;
}
.topic_page{
	color: #07347d;
	font-size: 18px;
	font-weight: 700;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 10px 0px;
}

ul.iconlist
{
	list-style: none;
	margin: 0;
	padding: 0;
}

li.pin
{
	height: 50px;
	background-image: url('../frontend/images/contactus-icon.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 3px 0 3px 50px;
	margin: .4em 0;
}

li.phone
{
	height: 50px;
	background-image: url('../frontend/images/contactus-icon.png');
	background-repeat: no-repeat;
	background-position: 0 -85px;
	padding: 3px 0 3px 50px;
	margin: .4em 0;
}

li.fax
{
	height: 50px;
	background-image: url('../frontend/images/contactus-icon.png');
	background-repeat: no-repeat;
	background-position: 0 -183px;
	padding: 3px 0 3px 50px;
	margin: .4em 0;
}

li.mail
{
	height: 50px;
	background-image: url('../frontend/images/contactus-icon.png');
	background-repeat: no-repeat;
	background-position: 0 -270px;
	padding: 3px 0 3px 50px;
	margin: .4em 0;
}

li.download
{
	height: 50px;
	background-image: url('../frontend/images/contactus-icon.png');
	background-repeat: no-repeat;
	background-position: 0 -360px;
	padding: 3px 0 3px 50px;
	margin: 1em 0;
	padding-top: 10px;
}

li.map
{
	height: 50px;
	background-image: url('../frontend/images/contactus-icon.png');
	background-repeat: no-repeat;
	background-position: 0 -455px;
	padding: 3px 0 3px 50px;
	margin: .4em 0;
	padding-top: 10px;
}

.fontBold{
	font-weight: bold;
}

.border_top_bottom{
	margin: 30px 0px;
	padding: 20px 0px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-width: thin;
}

.main_topic_with_bullet{
	background: url('../frontend/images/bullet-main-topic.png') no-repeat center left;
	text-indent: 15px;
	font-weight: bold;
	line-height: 25px;
	font-size: 18px;
}

/** Services Page **/

.services_list_box{
	position: relative;
	float: left;
	padding: 0px 0px 10px 0px;
	margin-bottom: 50px;
	width: 100%;
}

.services_list_item{
	width: 100%;
	/* height: 140px; */
	color: #20527f;
	margin: 0px;
	font-size: 16px;
	display: inline-block;
}

.services_list_item img{
	padding: 10px;
	width: 140px;
	height: 140px;
	float: left;
}
.services_list_topic{
	color: #20527f;
	margin: 0px;
	padding: 2px 0px;
	font-size: 16px;
	font-weight: bold;
	padding-top: 30px;
}

.services_list_item > .project_subcat{
	position: relative;
	margin: 5px 0px;
	display: block;
	clear: right;
	margin-left: 140px;
}

/* Job Vacancy Page */
.job_vacancy_box{
	position: relative;
	float: left;
	padding: 0px 0px 10px 0px;
	margin-bottom: 50px;
	margin-top: 10px;
	width: 100%;
}

.job_vacancy_slider_box{
	height: 501px;
	display: block;
	background:#657781;
}
.bg_job_vacancy{
	height: 501px;
	display: block;
	background-image:url('../frontend/images/bg_job_vacancy.jpg');
}

/* modify collapse */

.panel-default > .panel-heading{
	background-color: #e6e6e6;
}

h4.panel-title a{
	color: #205380;
	font-weight: bold;
}


/* About Us */

.aboutus_box{
	position: relative;
	float: left;
	padding: 0px 0px 10px 0px;
	margin-bottom: 30px;
	margin-top: 10px;
	width: 100%;
}

.aboutus_gallery {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 30px;
    overflow: auto;
}

.aboutus_list_gallery{
	padding: 5px 5px 5px 0px;
}

.aboutus_thumbnail img {
    width: 100%;
}

/* Our Customer */
.aboutus_box{
	position: relative;
	float: left;
	padding: 0px 0px 10px 0px;
	margin-bottom: 30px;
	margin-top: 10px;
	width: 100%;
}

.our_customers_gallery {
    position: relative;
    padding: 0px;
    margin-bottom: 25px;
    overflow: auto;
}

.our_customers_thumbnail {
	text-align: center;
}

.our_customers_thumbnail img {
    width: 200px;
    height: 133px;
}
h4.company_name{
	font-size: 15px;
	font-weight: bold;
}

/*************************/

.portfolio_list {
	position: relative;
	padding: 0px;
	margin-bottom: 10px;
	height: 180px;
}

.portfolio_list_thumbnail {
	text-align: center;
}

.portfolio_list_thumbnail img {
    width: 200px;
    height: 133px;
}
h4.company_name{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 2px;
}


/* Overide Bootstrap */
.carousel-caption {
	right: 15%;
	left: 15%;
	padding-bottom: 20px;
	/*background: #000;*/
}

.bx-wrapper {
	margin: 0 auto 50px;
}

/* next button lower */
.bx-wrapper .bx-controls-direction a {
	z-index: 1;
}

.box_link{
	display: block;
	float: left;
}

#project_category{
padding: 5px 3px;
margin: 0px 0px 15px 14px;

}

#project_category option{
	margin-left:10px;
}