
#page-wrapper {
	padding: 30px 25px 15px 25px;
}

.topic_content{
	font-size: 18px;
	font-weight: 600;
	padding: 5px 0px;
}

hr.thin{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid #ccc;
}


table.table tbody tr td.topic_left{
	font-weight: bold;
}

table.table tr td.width_150{
	width: 150px;
}

table.table tr td.width_200{
	width: 200px;
}

.width300{
	width: 300px;
}

.width50{
	width: 50px;
}

.width70{
	width: 70px;
}

form.form-delete{
	display: inline;
}

form button.btn-as-link{
	margin: 0px; 
	padding: 0px;
	border: 0px;
	background: none;
	color: #f00;
}

/*table.thead tr th.running_number{
	width: 50px;
}
*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/** Crop Image **/
div#image_area{
  margin:0px;
  padding:0px;
  border:1px;
  display: block;
}


/* Image Gallery */

.thumbnail{

	padding-top: 30px;

}

.my_thumbnail{

	height: 250px;

}
img.productgallery{
	

	height: auto;
}

.gallery_topic{
    margin-bottom: 10px;
}

img.map_thumb{
	width: 240px;
}

.suggest_image_size{
	font-size: 12px;
	color: #999;
}

div.my_thumbnail div.caption{
	text-align: center;
}


#image_thumb_area img{
	max-width: 600px;
}