div.dataTables_length{
	float: left;
}
div.dataTables_length label {
	float: left;
	text-align: left;
	font-weight: normal;

}

div.dataTables_length select {
	padding: 5px;
	border-radius: 3px;
	font-weight: normal;
	border: 1px solid #ccc;
	margin: 3px 0px;
}

div.dataTables_filter label {
	pading:5px;
	float: right;
	font-weight: normal;
}

div.dataTables_filter label input[type="text"]{
	width: 200px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding:4px;
	margin: 3px 0px;
	font-weight: normal;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
	max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
	border-top: none;
}

div.dataTables_scrollFoot table {
	border-top: none;
}




/*
 * TableTools styles
 */
 .table{
 	font-size: 14px;
 }
.table tbody tr.active td,
.table tbody tr.active th {
	background-color: #08C;
	color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
	background-color: #0075b0 !important;
	height: 10px;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
	background-color: #017ebc;
	height: 10px;

}

table.DTTT_selectable tbody tr {
	cursor: pointer;
	*cursor: hand;
	height: 10px;
}

div.DTTT .btn {
	color: #333 !important;
	font-size: 12px;
}

div.DTTT .btn:hover {
	text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
	color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
	background-color: #0088cc;
	color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
	height: 150px;
	margin-top: -75px;
	text-align: center;
}

div.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

div.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}

/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
	background-color: white;
}

div.DTFC_LeftHeadWrapper table {
	margin-bottom: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
	border-top: none;
}

div.DTFC_LeftFootWrapper table {
	border-top: none;
}


/*** peterxp****/
.panel-clear {
  border-color: #ddd;
  border:0px;
}
.panel-clear > .panel-clear {
  color: #333;
  /*background-color: #f5f5f5;*/
  border-color: #ddd;
}
.panel-clear > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ddd;
}
.panel-clear > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ddd;
}

div.dataTables_wrapper div.row div.col-md-6{
	margin:0px;
}

.pagination {
	margin: 10px 0;
}


/***************************/

table#myDataTable thead tr th.center, table#myDataTable tbody tr td.center{
	text-align: center;
}

table#myDataTable thead tr th.action, table#myDataTable tbody tr td.action{
	width:230px;
}

table#myDataTable thead tr th.witdth280, table#myDataTable tbody tr td.width290{
	width:290px;


table#myDataTable thead tr th.witdth280, table#myDataTable tbody tr td.width280{
	width:280px;
}

table#myDataTable thead tr th.running_number, 
table#myDataTable tbody tr td.running_number{
	width:80px;
}

table#myDataTable thead tr th.width50, 
table#myDataTable tbody tr td.width50{
	width:50px;
}

table#myDataTable thead tr th.width60, 
table#myDataTable tbody tr td.width60{
	width:60px;
}

table#myDataTable thead tr th.width70, 
table#myDataTable tbody tr td.width70{
	width:70px;
}


table#myDataTable thead tr th.width80, 
table#myDataTable tbody tr td.width80{
	width:80px;
}


table#myDataTable thead tr th.width90, 
table#myDataTable tbody tr td.width90{
	width:90px;
}
